<% provide(:title, "About") %>

<!-- Content Header -->
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="page-header">
      <h2>About Gift Garden
        <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
        <small> &nbsp; &mdash; 
          <%= ApplicationHelper.gift_garden_version_detailed %>
          ; deployed on 
          <%= ApplicationHelper.gift_garden_deploy_date %>
        </small>
      </h2>
    </div>   <!-- page-header -->
  </div>   <!-- col -->
</div>   <!-- row -->

<!-- Section: Intro -->
<div class="row about-section">
  <div class="col-xs-offset-1 col-xs-9">
    <p>
      Gift Garden is a gift management system for nonprofits. 
      It allows your organization to effectively track and analyze the activities,
      donors, and gifts that are the core of any nonprofit. 
    </p>
    <p>
      Gift Garden is a web application designed to be easy to learn and simple to use.
      The system is built upon three important design choices:
    </p> 
    <ol>
      <li>Use a standard web user interface framework</li>
      <li>Build upon a very simple data model</li>
      <li>Place an emphasis on convention over configuration</li>
    </ol>
    <p>
      <br>
      Gift Garden is the work of students from the CSC 694 Capstone class, Fall 2016, at North Central College. 
      During the class, we learned a number of new technologies, including our core framework, Ruby on Rails. 
      Our project was a collaborative effort and utilized an agile development process. 
      Some of the modern technologies used in Gift Garden include: Ruby on Rails, Ryver, git, Github, Cloud9, Bootstrap, and Heroku.</p>
    <p>
      For additional information about Gift Garden or any of its design team members, please email Prof Bill at <a href="mailto:wtkrieger@noctrl.edu">wtkrieger@noctrl.edu</a>.  
    </p>
    <p>
      thanks...yow, bill
    </p>
  </div>
</div>   <!-- row -->

<!-- Section: Design Team -->
<div class="row about-section">
  <div class="col-xs-offset-1 col-xs-10">
    <h3>The Design Team</h3>
    <p>
      Gift Garden was created by the students of CSC 694 in the Fall of 2016.
    </p>
  </div>
</div>   <!-- row -->

<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
	    <div class="media-right media-middle" >
		    <%= image_tag("team/jason.jpg", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
		  </div>
		  <div class="media-body">
		    <h3>Jason K <br>
		      <small>Placing great emphasis on design and usability...along with a little bit of code.</small>
		    </h3>
		  </div>
	  </div>   <!-- media -->
	  <hr>
  </div>
</div>   <!-- row -->

<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
		  <div class="media-right media-middle" >
			    <%= image_tag("team/andyw.jpg", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
			</div>
			<div class="media-body">
			  <h3>Andy W <br>
			    <small>Data models, pagination, parameters, and sorting; it's been a pleasure surfing with CSC 694 and Gift Garden!</small>
        </h3>
			</div>
		</div>   <!-- media -->
		<hr>
  </div>
</div>   <!-- row -->

<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
		  <div class="media-right media-middle" >
			    <%= image_tag("team/patm.png", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
			</div>
  		<div class="media-body">
			  <h3>Pat M <br>
			    <small>Gift Garden is a great tool, and I'm proud to support it. I hope our users utilize it to its full potential.</small>
			  </h3>
			</div>
		</div>   <!-- media -->
		<hr>
  </div>
</div> <!-- row -->

<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
		  <div class="media-right media-middle" >
			    <%= image_tag("team/weih.jpg", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
			</div>
			<div class="media-body">
			  <h3>Wei H <br>
			    <small>I enjoyed being in a team and building Gift Garden. I hope you will enjoy growing gifts and surfing in it.</small>
			  </h3>
			</div>
		</div>   <!-- media -->
		<hr>
  </div>
</div> <!-- row -->
    
<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
		  <div class="media-right media-middle" >
			    <%= image_tag("team/miked.png", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
			</div>
			<div class="media-body">
			  <h3>Mike D <br>
			    <small>UX Team, New Gifts, and Reports. Has done technical work at McDonald's Corporation, Northwestern University and volunteers time teaching programming through various robotics programs at the library. He is very happy to be able to add his contributions to Gift Garden!</small>
			  </h3>
			</div>
		</div>   <!-- media -->
    <hr>
	</div>
</div> <!-- row -->

<div class="row staff-wrapper">
  <div class="col-xs-offset-1 col-xs-10">
    <div class="media">
		  <div class="media-right media-middle" >
			    <%= image_tag("team/profbill.jpg", height: "128",  alt: "Staff Image", class: "hidden-xs media-object staff-image") %>
			</div>
			<div class="media-body">
			  <h3>Prof Bill <br>
			    <small>I enjoyed my 10 long Tuesday nights with the CSC 694 team. Long live Gift Garden! thanks... yow, bill</small>
			  </h3>
			</div>
		</div>   <!-- media -->
		<hr>
  </div>
</div> <!-- row -->


<!-- Section: Thanks yous -->
<div class="row about-section">
  <div class="col-xs-offset-1 col-xs-9">
    <h3>Thank Yous</h3>
    <p>
      We sincerely thank our two nonprofit partners for their valuable input during the design of Gift Garden:
    </p>
    <ul>
      <li><p><a href="http://www.sharingconnections.org/">Sharing Connections</a> in Downers Grove, and</p></li>
      <li><p><a href="http://www.turningpointeautismfoundation.org/">Turning Pointe</a> in Naperville... especially Carrie P, our MVP!</p></li>
    </ul>
    <p>
      Thank you all, very much!
    </p>
  </div>
</div>


<!-- Section: Artwork -->
<div class="row about-section">
  <div class="col-xs-offset-1 col-xs-9">
    <h3>The Artwork</h3>
    <p>
      The artwork you see in Gift Garden is the work of one talented young lady, 
      <span class="about-special-people">Teresa B</span>. 
      She is an art student at North Central College. 
      Thank you, Teresa B! We truly appreciate your contribution in making Gift Garden so beautiful and special for our users.
    </p>
    <p>
      We also thank <span class="about-special-people">Janny G</span> of Menlo Park for her Photoshop edits of Teresa B's work. Thank you, Janny, our “Mistress of the Magic Wand”!
    </p>
    <p>
      Click below to see some larger “prints” of Teresa B's beautiful Garden artwork. 
    </p>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/butterfly1_original.png', target: '_blank' do %><%= image_tag("art/butterfly1.png", class: "center-block about-artwork", alt: "Butterfly 1") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/butterfly2_original.png', target: '_blank' do %><%= image_tag("art/butterfly2.png", class: "center-block about-artwork", alt: "Butterfly 2") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/flower1_original.png', target: '_blank' do %><%= image_tag("art/flower1.png", class: "center-block about-artwork", alt: "Flower 1") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/flower2_original.png', target: '_blank' do %><%= image_tag("art/flower2.png", class: "center-block about-artwork", alt: "Flower 2") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/logo1_original.png', target: '_blank' do %><%= image_tag("art/logo1.png", class: "center-block about-artwork", alt: "Logo 1") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/logo2_original.png', target: '_blank' do %><%= image_tag("art/logo2.png", class: "center-block about-artwork", alt: "Logo 2") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/logo3_original.png', target: '_blank' do %><%= image_tag("art/logo3.png", class: "center-block about-artwork", alt: "Logo 3") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/dragonfly1_original.png', target: '_blank' do %><%= image_tag("art/dragonfly1_original.png", class: "center-block about-artwork", alt: "Dragonfly 1") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/bee1_original.png', target: '_blank' do %><%= image_tag("art/bee1.png", class: "center-block about-artwork", alt: "Bee 1") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/flower3_original.png', target: '_blank' do %><%= image_tag("art/flower3_original.png", class: "center-block about-artwork", alt: "Flower 3") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/flower4_original.png', target: '_blank' do %><%= image_tag("art/flower4.png", class: "center-block about-artwork", alt: "Flower 4") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/flower5_original.png', target: '_blank' do %><%= image_tag("art/flower5.png", class: "center-block about-artwork", alt: "Flower 5") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/flower6_original.png', target: '_blank' do %><%= image_tag("art/flower6.png", class: "center-block about-artwork", alt: "Flower 6") %><% end %>
  </div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
    <%= link_to 'assets/art/flower7_original.png', target: '_blank' do %><%= image_tag("art/flower7.png", class: "center-block about-artwork", alt: "Flower 7") %><% end %>
  </div>
</div>

<div class="row row-spacing-gallery">
  <div class="col-xs-offset-1 col-xs-10 col-sm-4">
    <%= link_to 'assets/art/flower8_original.png', target: '_blank' do %><%= image_tag("art/flower8.png", class: "center-block about-artwork", alt: "Flower 8") %><% end %>
  </div>
</div>
