<%= form_for(@donor) do |f| %>

<!-- Fields: Donor type -->
<div class="row form-group">
  <%= render 'shared/donor_error_messages' %>

  <div class="col-xs-offset-2 col-xs-3">
    <%=f.label :donor_type %>
      <span class="required-field-marker">*</span>
      <%=f.select(:donor_type, options_for_select(Donor.donor_types.keys, :selected => @donor.donor_type),{},:class => "form-control")%>
  </div>
</div>   <!-- row -->

<!-- Fields: Nickname, Title -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control input-sm' %>
  </div>
	<div class="col-xs-2">
	  <%=f.label :nickname %>
	  <%= f.text_field :nickname, class: 'form-control input-sm' %>
	</div>
</div>   <!-- row -->

<!-- Fields: First name, Last name -->
<div class="row form-group">
	<div class="col-xs-offset-2 col-xs-2">
    <%= f.label :first_name %>
    <span class="required-field-marker">*</span>
    <%= f.text_field :first_name, class: 'form-control input-sm' %>
  </div>
  <div class="col-xs-4">
    <%= f.label :last_name %>
    <span class="required-field-marker">*</span>
    <%= f.text_field :last_name, class: 'form-control input-sm' %>
  </div>
</div>   <!-- row -->

<!-- Fields: Email, Phone -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-2">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: 'form-control input-sm' %>
	</div>
  <div class="col-xs-4">
    <%= f.label :email %>
		<span class="required-field-marker">*</span>
		<%= f.text_field :email, class: 'form-control input-sm' %>
  </div>
</div>

<!-- Fields: Address -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-6">
    <h4>Donor Address</h4>
    <%= f.label :address %>
    <span class="required-field-marker">*</span>
    <%= f.text_field :address, class: 'form-control input-sm' %>
  </div>
</div>   <!-- row -->

<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-6">
    <%= f.label :address2 %>
    <%= f.text_field :address2, class: 'form-control input-sm' %>
  </div>
</div>   <!-- row -->

<!-- Fields: City -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-4">
    <%= f.label :city %>
    <span class="required-field-marker">*</span>
    <%= f.text_field :city, class: 'form-control input-sm' %>
  </div>
</div>   <!-- row -->

<!-- Fields: State, Zip -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-2">
    <%= f.label :state %>
    <span class="required-field-marker">*</span>
    <%= f.text_field :state, class: 'form-control input-sm' %>
  </div>
  <div class="col-xs-2">
      <%= f.label :zip %>
      <span class="required-field-marker">*</span>
      <%= f.text_field :zip, class: 'form-control input-sm' %>
    </div>
</div>   <!-- row -->

<!-- Fields: Notes -->
<div class="row form-group">
  <div class="col-xs-offset-2 col-xs-6">
    <%=f.label :notes %>
    <%=f.text_area :notes, placeholder: "Enter notes here...", cols: "120", rows: "5", class: "form-control input-sm" %>
  </div>
</div>   <!-- row -->

<div class=" row form-group">
  <div class="col-xs-offset-2 col-xs-6 text-center">
    <%= f.submit yield(:button_text), class: "btn btn-success" %>
    &nbsp;
    <%= link_to "Cancel", donors_path, class: "btn btn-danger" %>
  </div>
</div>   <!-- row -->

<% if gift_count_per_donor(@donor) == 0 && !@donor.new_record? %>
  <div class="row form-group form-delete">
    <div class="col-xs-offset-7 col xs-2">
      <span class="glyphicon glyphicon-minus icon-donna-regular icon-donna-delete"></span>
      <%= link_to "Delete Donor", @donor, method: :delete, data: { confirm: "Are you sure that you want to permanently remove this donor from the database? This action cannot be undone." } %>
    </div>
  </div>
<% end %>

<% end %>
