<% provide(:title, "Surf Activities") %>
<div class="row">
  <div class="col-xs-offset-1 col-xs-10">
  	<div class="page-header">
  		<h2 class="page-header-surf">Surf Activities 
  		  <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
  		  <small>
  		    &nbsp; &mdash; view all Activities; select row to edit
  		  </small>
  		</h2>
  	</div>   <!-- page-header -->
  </div>
</div>   <!-- row -->

<!-- Activity count and New Activities -->
<div class="row ">
  <div class="col-xs-offset-1 col-xs-5">
    <span class="record-count">Currently surfing <%= pluralize(@selected_activities.count, "activity") %></span>
	</div>
  <div class="col-xs-5 text-right">
    <div class="pull-right">
      <%= link_to(new_activity_path) do %>
	    <span class="glyphicon glyphicon-plus icon-donna icon-donna-new"></span><span class="icon-donna-text">New Activity</span>
    <% end %>
    </div>
  </div>
</div>   <!-- row -->

<!-- Surf to: links-->
<div class="row">
  <div class="col-xs-offset-5 col-xs-6 text-right">
    Surf to: &nbsp; 
    <span class="surf-current">All Activities</span>
    &nbsp; | &nbsp;
    <%=link_to "All Donors", donors_url + "?utf8=✓&timeframe=All&sortby=&pageby=&commit=GO" %> 
    &nbsp; | &nbsp;
    <%=link_to "All Gifts", gifts_url + "?utf8=✓&activity_id=&donor_id=&timeframe=All&sortby=&pageby=&commit=GO" %>
  </div>
</div>   <!-- row -->


<div class="row">
  <div class="col-xs-offset-1 col-xs-10 ">

    <!-- Dropdown for filter/sort options-->
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-plus"></span>Filter/Sort Activities
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            <%= render 'search_form' %> 
          </div>
        </div>
      </div>
    
      <!-- Table of Activities -->
      <% if @selected_activities.count != 0 %>
      <table class="table table-striped table-hover table-bordered table-responsive">
        
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>End Date</th>
            <th>Goal</th>
            <th>Gift Total</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <% @selected_activities.each do |activity| %>
          <tr data-link="<%=edit_activity_path(activity) %>">
            <td><%= get_activity_id(activity) %></td>
            <td><%= activity.name %></td>
            <td><%= activity.end_date.strftime("%b %d, %Y") %></td>
            <td><%= number_to_currency(activity.goal, precision: 0) %></td>
            <td><%= number_to_currency(total_gift_amount_per_activity(activity), precision:0) %></td>
            <td><%= progress(activity).to_i %>%</td> 
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @selected_activities, :inner_window => 2, class: "pagination pagination-centered" %>
      <% else %>
      <h3 class="no-records-found">No activities located given your search criteria.</h3>
      <% end %>
    </div>
  </div>
</div>

