<% provide(:title, "Donors Report") %>
<div class="row report-title-row">
  <div class="col-xs-offset-1 col-xs-10">
    <div id="flash"></div>
    <div class="page-header">
      <h2>Donors Report 
        <%= image_tag( random_artwork_icon, height: "64",  alt: "Garden artwork icon", class: "pull-right hidden-xs") %>
        <small>&nbsp; &mdash; generate a PDF report of Donors that meet your criteria. <br>
          Output file is: <span class="report-file-name">Donors Report <%= Time.now.to_date.to_s %>.pdf</span>
        </small>
      </h2>
    </div>
  </div>
</div>

<!-- Report form -->
<%= form_tag '/report-donors-pdf', multipart:true do %>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Timeframe: <br>
    <%= select_tag 'times', options_for_select(Donor::TIMES) %>
  </div>
</div>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Sort by: <br>
    <%= select_tag 'sorts', options_for_select(Donor::SORTS) %>
  </div>
</div>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Top N: <br>
    <%= select_tag 'topn', options_for_select(Donor::TOPN) %>
  </div>
</div>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= check_box_tag 'landscape', 'yes', false %>
    <%= label_tag(:landscape, "Full contact") %>
  </div>
</div>

<div class="row report-buttons-row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
</div>

<% end %>

<script>
  //allows Report button to be used repeatedly, and resets the form
  var reportButton = $("input.btn.btn-success");
  $(document).ready(function(){
    reportButton.removeAttr("data-disable-with")
    reportButton.click(function(){
      $("form")[0].reset();
      //register event listener for flash() on Report button
      flash();
    });
    //changes report name @ top when Full Contact gets checked
    $("#landscape").click(function(){
      if ($('#landscape').is(":checked")) {
        $("#reportTitle").text("Donors Full Contact Report <%= Time.now.to_date.to_s %>.pdf");
      } else {
        $("#reportTitle").text("Donors Report <%= Time.now.to_date.to_s %>.pdf");
      }
    });
  });

  //flash notification for report generation
  var flashdiv = document.getElementById('flash');
  function flash(){
    if ($("#flash").html().length > 0) {
      $("#flash").fadeOut();
      $("#flash").fadeIn();
    } else {
      flashdiv.className = "alert alert-success";
      flashdiv.innerHTML =  "Donors report generated."; 
    }
  }
</script>
