<% provide(:title, "In Kind Gifts Report") %>
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="page-header">
      <h2>In Kind Gifts Report
        <%= image_tag("icons/flower3_square.png", height: "48",  alt: "Users", class: "pull-right hidden-xs") %>
        <small>&nbsp; &mdash; generate a PDF report of in kind Gifts. <br>
          Output file is: <span class="report-file-name">In Kind Gifts Report <%= Time.now.to_date.to_s %>.pdf</span>
        </small>
      </h2>
  	</div>
  </div>
</div>

<!-- Form Content -->
<%= form_tag '/report-inkind-pdf', multipart:true do %>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Activity: <br>
    <%= select_tag "activity", options_from_collection_for_select(@activities, "id", "name") %>
  </div>
</div>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Timeframe: <br>
    <%= select_tag 'times', options_for_select(Gift::TIMES) %>
  </div>
</div>

<div class="row report-form-row">
  <div class="col-xs-8 col-xs-offset-2">
    Sort by: <br>
    <%= select_tag 'sorts', options_for_select(Gift::SORTS) %>
  </div>
</div>

<div class="row report-buttons-row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= submit_tag "Generate Report", class: "btn btn-success" %>
    &nbsp;
    <%=link_to "Cancel", reports_url, class: "btn btn-danger" %>
  </div>
</div>

<% end %>

<!-- Allows Report button to be used repeatedly, and resets the form. -->
<script>
  $(document).ready(function(){
    $("input.btn.btn-success").removeAttr("data-disable-with")
    $("input.btn.btn-success").click(function(){
        $("form")[0].reset();
    });
});
</script>

